body{
background:#0a1f44;
font-family:Arial;
color:white;
}

.box{

width:400px;
margin:60px auto;
background:#132b5e;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 0 15px rgba(0,0,0,0.4);

}

input,select,button{

width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;

}

button{

background:#1e90ff;
color:white;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:#0f6cd4;

}

.safe{

color:#00ff88;
font-size:20px;

}

.attack{

color:red;
font-size:20px;

}

.graph{

width:400px;
margin:40px auto;
text-align:center;

}

.logs{

width:80%;
margin:40px auto;

}

table{

width:100%;
border-collapse:collapse;
background:#132b5e;

}

th,td{

padding:10px;
border:1px solid white;
text-align:center;

}